.App {
  /*text-align: center;*/
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.leftDiv {
  display: inline-block;
  width: 60vw;
}

.rightDiv {
  width: calc(40vw - 21px);
  background-color: #333;
  vertical-align: top;
  color: white;
  float: right;
}

.rightDiv h3 {
  color: #999;
  margin: 8px 5px;
  padding-bottom: 5px;
}

textarea {
  background-color: #333;
  border: none;
  padding-left: 10px;
  width: calc(100% - 12px);
  max-width: 100%;
  min-height: calc(100vh - 111px);
  color: white;
  font-size: 15px;
}

textarea:focus {
  outline: none;
}
