h2 {
    margin-top: 0;
    font-weight: 100;
    letter-spacing: 2px;
    color: #ccc;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 100;
    letter-spacing: 2px;
    color: #ccc;
}

.teamInput {
    margin-top: 15px;
}

.registerBtn {
    margin-top: 75px;
    width: 150px;
}

.registerWrapper {
  width: 40vw;
  height: 50vh;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -25vh 0 0 -20vw;
  padding: 20;
}
